# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/*.iml
android/.DS_Store
android/app/.cxx/
android/app/.externalNativeBuild/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node
node_modules/
dist/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
